HAL_ARCH_OBJS=\
    $(HALARCHDIR)/io.o \
    $(HALARCHDIR)/cpu.o \
    $(HALARCHDIR)/gdt.o \
    $(HALARCHDIR)/gdt_flush.o \
    $(HALARCHDIR)/idt.o \
    $(HALARCHDIR)/idt_flush.o \
    $(HALARCHDIR)/isr.o \
    $(HALARCHDIR)/isr_stubs.o \
    $(HALARCHDIR)/irq.o \
    $(HALARCHDIR)/irq_stubs.o \
    $(HALARCHDIR)/pit.o \
    $(HALARCHDIR)/memory.o \
    $(HALARCHDIR)/paging.o \
    $(HALARCHDIR)/pte.o \
    $(HALARCHDIR)/pde.o \
    $(HALARCHDIR)/paging_internal.o \
    $(HALARCHDIR)/cmos.o \
    $(HALARCHDIR)/rtc.o \
		$(HALARCHDIR)/tss.o \
		$(HALARCHDIR)/tss_flush.o \
    $(HALARCHDIR)/regs.o \
