HAL_SUB_ARCH_OBJS=\
    $(HALSUBARCHDIR)/isr.o \
    $(HALSUBARCHDIR)/irq.o \
    $(HALSUBARCHDIR)/io.o \
    $(HALSUBARCHDIR)/cpu.o \
    $(HALSUBARCHDIR)/gdt.o \
    $(HALSUBARCHDIR)/gdt_flush.o \
    $(HALSUBARCHDIR)/idt.o \
    $(HALSUBARCHDIR)/idt_flush.o \
    $(HALSUBARCHDIR)/isr_stubs.o \
    $(HALSUBARCHDIR)/irq_stubs.o \
    $(HALSUBARCHDIR)/paging.o \
    $(HALSUBARCHDIR)/pte.o \
    $(HALSUBARCHDIR)/pde.o \
    $(HALSUBARCHDIR)/paging_internal.o \
	$(HALSUBARCHDIR)/tss.o \
	$(HALSUBARCHDIR)/tss_flush.o \
    $(HALSUBARCHDIR)/regs.o